.container-1{
    display: inline-block;
    border: 2px solid white;
    height: 350px;
    width: 1200px;
    margin: 50px;
    padding-left: 20px;
}

h1{
    text-align: left
}
.espana{
    border: 2px solid gray;
    width: 500px;
    height: 300px;
    position: absolute;
    
}

.rojo{
    background-color: red;
    width: 500px;
    height:90px;
}

.amarillo{
    background-color: yellow;
    width: 500px;
    height:120px;
}

.dinamarca{
    border: 2px solid gray;
    background-color: red;
    width: 500px;
    height: 300px;
    left: 600px;
    display: inline-block;
    position: absolute;
}

.horizontal{
    background-color: white;
    width: 500px;
    height:40px;
    position: relative;
    margin-top: 130px;
}

.vertical{
    background-color: white;
    width: 40px;
    height:300px;
    margin-left: 90px;
    position: absolute;
}

.container-2{
    display: inline-block;
    border: 2px solid white;
    height: 350px;
    width: 1200px;
    margin: 50px;
    padding-left: 20px; 
}

.emiratos{
    border: 2px solid gray;
    width: 500px;
    height: 300px;
    position: absolute;
}

.rojo-emiratos{
    background-color: red;
    width: 130px;
    height: 300px;
    position: absolute;
}

.verde-emiratos{
    background-color: green;
    width: 370px;
    height:100px;
    margin-left: 130px;
}

.blanco-emiratos{
    background-color: white;
    width: 370px;
    height:100px;
    margin-left: 130px;
}
.negro-emiratos{
    background-color: black;
    width: 370px;
    height: 100px;
    margin-left: 130px;
}

.japon{
    border: 2px solid gray;
    background-color: white;
    width: 500px;
    height: 300px;
    left: 600px;
    position: absolute;
    display: inline-block;
    text-align: end;
}

.circulo{
    background-color: red;
    height: 160px;
    width: 160px;
    border-radius: 5rem;
    margin-top: 70px;
    margin-left: 160px;
    position: absolute;
}

